# Python
ml_classifier.egg-info
__pycache__/

#data
#data/raw/raw.csv
#data/preprocessed/train_preprocessed.csv
#data/preprocessed/test_preprocessed.csv
data/**/*.csv

#artifacts
#artifacts/\[features\]_mean_imputer.joblib
#artifacts/\[features\]_scaler.joblib
#artifacts/\[target\]_one_hot_encoder.joblib
artifacts/*.joblib

#modelos
#models/model.keras
models/*.keras

#metrics
#metrics/training.json
#metrics/evaluation.json
metrics/*.json